form{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-right: 4%;
    justify-content: center;
}
form .input-fields{
    display: flex;
    flex-direction: column;
    justify-content:  center;
    width: 100%;  
    display: block;
    margin: 0 auto;
}
.input-fields input, .msg textarea
{
    margin: 10px 0;
    background:#f2b9a2;
    border: .2em solid #d97778;
    border-radius: .4em;
    padding:1em;
    color: #000;
    width:100%;
    justify-content: center;
    align-items: center;
    position: relative;
}

.input-fields input::after
{content: "";position: absolute;top: 10px;left: 220px;background: #000;height: 20ch;width: 3ch;}

.msg textarea
{
    height: 20ch;
    width: 100%;
}
.input-fields button{
    background-color:#f2b9a2 ;
    color: #000;
    text-align: center;
    padding:1em;
    cursor: pointer;
    border: none;
   display: block;
   width: 100%;
   border: .2em solid #d97778;
    border-radius: .1em;
    color: #000;
    font-size: .6em;
}
::placeholder{color: #000;font-weight: 400;}