@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Poppins', sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-size: 100%;
  overflow-x: hidden;
  background: #F2F2F2;
}

main {
  overflow: hidden;
}

html {
  scroll-behavior: smooth;
}

.display, .p1-box, .p2-item, .p3-item-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 2em;
  overflow: hidden;
}

.img-nav {
  width: 30%;
}

nav.black {
  background: #fff;
  -webkit-box-shadow: 0 0 30px #f1f1f1;
          box-shadow: 0 0 30px #f1f1f1;
  position: fixed;
  z-index: 100;
  width: 100%;
  top: 0;
  left: 0;
}

nav.black img {
  width: 15%;
}

.p1 {
  background: url(/image/back11.png);
  min-height: 100vh;
  background-position: center;
  background-size: cover;
  position: relative;
}

.p1-box {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  color: #000;
  width: 50%;
  padding: 2em;
}

.p1 h1 {
  font-size: 2rem;
}

.p1 p {
  margin: 0em 0 .5em;
}

.bottom-p {
  padding-bottom: 1em;
}

.btn-home, .btn-p2 {
  padding: 1em 2em;
  color: #fff;
  background: #f25c5c;
  text-decoration: none;
  font-weight: 600;
  font-size: .8em;
  border-radius: 2em;
}

.p2 {
  background: #F2F2F2;
}

.p2-item {
  padding: 2em;
}

.p2-item h1 {
  width: 70%;
  color: #fff;
  font-size: 1.5rem;
}

.p3 {
  padding: 2em 2em 0 2em;
  background: #f2f2f2;
}

.p3-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.p3-item-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.p3-item-1 {
  padding: 1em;
  margin: 1em;
  border-radius: 1em;
  background: #fff;
  -webkit-box-shadow: 0 0 .5em #F2F2F2;
          box-shadow: 0 0 .5em #F2F2F2;
  height: 100%;
}

.p3 p {
  margin: .5em 0;
}

.p3 img {
  width: 30%;
  height: auto;
}

.p3-item-1 p {
  color: #595959;
}

.youtube {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.4)), to(rgba(0, 0, 0, 0.4))), url(/image/camera.jpeg);
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(/image/camera.jpeg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  min-height: 50vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #fff;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.youtube img {
  width: 20%;
  height: auto;
  margin: 0 1em 0;
}

.youtube .p1-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.youtube h1 {
  display: block;
  margin: 0 auto;
}

.p4 {
  background: url(/image/fundo-1.png);
  background-position: center;
  background-size: cover;
  position: relative;
}

.p4 {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 2em;
  min-height: 100vh;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.p4-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.p4-item h4 {
  width: 50%;
  margin: .5em 0;
  font-weight: 400;
}

.p4-item-2 {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.p4 h1 {
  text-align: right;
}

.p4 h2 {
  color: #f25c5c;
}

.p4 p {
  margin: .5em 0;
  width: 50%;
}

.p5 {
  background: url(/image/fundo-3.png);
  background-position: center;
  background-size: cover;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding-top: 2em;
}

.p5 {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 2em 2em 2em;
  text-align: left;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.p5 img {
  width: 15%;
}

.p5 h3 {
  font-weight: 500;
}

.p5 p {
  width: 60%;
}

.p5_box {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.p6 {
  background: #F2F2F2;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 2em 2em;
}

.p7 {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 2em 0 0;
}

.p7-box {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  margin: 2em 0 0;
}

.p7-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 0.00001em solid #A6A6A6;
  padding: 1em;
}

.p7 img {
  width: 12%;
}

.p7 h1 {
  color: #f25c5c;
}

.p7 h3 {
  font-size: .9rem;
  margin: .5em;
}

.p7 p {
  font-size: .7rem;
}

.p8 {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #F2B279;
  color: #fff;
  padding: 2em;
}

.p8 p {
  margin: 1em 0 2em;
}

.p9 {
  padding: 2em;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: url(/image/phone-person.jpeg);
  background-size: cover;
  background-position: center;
}

.p9-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 2em;
  width: 80%;
  background: #f25c5c;
  background: #fff;
  border-radius: .5em;
}

.p9-item {
  width: 100%;
}

.p9-item-1 {
  margin: 0em 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.p9-item-1 img {
  width: 5%;
  margin: 0 1em 0 0em;
}

.p9 h3 {
  color: #000;
}

.icon {
  font-size: 2em;
  color: #F2B279;
  margin: 0 1em 0 0em;
}

.form-back {
  border-radius: .5em;
  margin: 1em 2em 0 0em;
  width: 80%;
}

.line {
  height: .4em;
  width: 15%;
  background-color: #F2B279;
}

.p9 h2 {
  margin: 0em 0 1em;
  color: #000;
}

.p9 h3 {
  font-weight: 200;
}

footer {
  background: #fff;
}

footer p {
  font-size: .7rem;
  padding: 1vh 0;
  margin: 0 3vw;
}

.alert p {
  display: block;
  width: 80%;
  margin: 0 auto;
  text-align: center;
  font-size: .5rem;
}

footer p a {
  color: #000;
  text-decoration: none;
}

.f-i {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hidden {
  display: none;
}

@media screen and (max-width: 900px) {
  nav {
    padding: 0;
  }
  .p1 {
    background-position: right top;
    background-size: auto 60%;
    background-repeat: no-repeat;
  }
  .p1 {
    text-align: left;
  }
  .p1-box {
    width: 100%;
  }
  .p3-item-box, .p9 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .youtube, .p8 {
    text-align: center;
  }
  .p4 {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .p4-projects {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
  .p4_box {
    width: 100%;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .p4-carousel {
    width: 100%;
  }
  .p4_item {
    width: 100%;
  }
  .p4_item img {
    width: 20%;
  }
  .p4 h1, .p5 h1 {
    text-align: center;
  }
  .youtube, .youtube .p1-item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .p4 {
    padding: 1em;
  }
  .p5 p {
    width: 100%;
  }
  .p9 {
    padding: 1em;
  }
  .p9-item, .p9-box {
    width: 100%;
  }
  .f-i {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
/*# sourceMappingURL=main.css.map */